<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://cdn.glitch.global/c84f6cdb-9f70-4fe9-b879-68945564ccd9/revolta.png?v=1725500954259"/>
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
      <link rel="stylesheet" href="/stylesheets/background.css"/>
    <title>REVOLTA DOS MALÊS - DIFERENÇA</title>
  </head>
  <body>
    <div class="menu"><br> 
      <a class="ligacoes" href="/" >INÍCIO</a>
      <a class="ligacoes" href="/contexto">CONTEXTO</a>
      <a class="ligacoes" href="/religiao">RELIGIÃO</a>
      <a class="ligacoes" href="/diferenca">DIFERENÇAS</a> 
      <a class="ligacoes" href="/resultado">RESULTADO</a>
      <a class="ligacoes" href="/hipoteses">SE DESSE CERTO</a>   
    </div>

    <div class="margin">
      <h1 class="titulo">DIFERENÇA ENTRE AS OUTRAS REVOLTAS</h1>

      <h2>Descendência do seu povo</h2>
      <div class="texto-imagem">
        <img class="imagem" src="/images/2.jpg" />
        <div class="texto">
          
          
          
          
          <p>
            Diferente de outras rebeliões escravas, a Revolta dos Malês se
            destacou pela forte presença de africanos muçulmanos, cuja a fé e
            cultura contribuiram para a organização e determinação do movimento.
          </p>

          <p>
            Os malês eram estudiosos, sabiam ler e escrever em árabe e fazer
            contas, assim eles trabalhavam dentro da área urbana, no comércio
            vendendo frutas, ou como sapateiros, ferreiros, pedreiros. Fato que
            lhes garantia maior mobilidade para circular pela cidade e se
            comunicar com outros escravizados malês e organizar reuniões com os
            levantes.
          </p>

          <p>
            Estes negros foram a prova da grande capacidade de mobilização que
            havia entre os escravizados. Com estratégia e ousadia, conseguiam
            incitar escravizados a participar da revolta.
          </p>

         
        </div>
      </div>

      <div class="texto">
        <p>
            Uma destas estratégias foi distribuir panfletos escritos em árabe –
            isso foi uma maneira de divulgar o planejamento do levante sem que
            os patrões descobrissem as reais intenções do grupo.
        </p>
           
        <h2>Seu principio</h2>

        <p>
          A data escolhida foi a manhã do dia 25 de janeiro de 1835, pois é o
          dia da festa conhecida como Lailat al-Qadr, a Noite da Glória, que
          comemora o dia em que o Corão foi revelado para Maomé.
        </p>

        <p>
          Cerca de 600 negros, entre escravizados e libertos, se armaram de paus
          e lanças e iniciaram a Revolta dos Malês, que era formada
          exclusivamente por negros africanos.
        </p>

        <h4>Seus planos ambiciosos:</h4>

        <il>

          <div class="topicos">
            <li>
              Tomar a cidade de Salvador e engenhos de açúcar e fumo para
              libertar todos os escravos africanos;
            </li>
            <li>
              Acabar com o catolicismo, recolher as imagens das igrejas e
              queimá-las em praça pública;
            </li>
            <li>
              Assassinar as pessoas brancas por envenenamento e confiscar seus
              bens e incendiar suas casas;
            </li>
            <li>
              Além de tomar o poder do império, assumir o controle da cidade e
              encerrar o regime escravista local. Porém planejavam escravizar
              qualquer pessoa que não fosse muçulmana, consequentemente brasileiros negros e mestiços.
            </li>
            
            
           
          </div>
        </il>

        <div class="texto-imagem">
        
          <div class="texto">
             
          </div>
          <img class="imagem" src="/images/3.jpeg" />
        </div>
      </div>
    </div>
    
  
      
    <script>
      let proximo = () => {
        window.location = "/resultado"
      }
        let anterior = () => {
          window.location = "religiao"
        }
      document.documentElement.addEventListener("keydown", (e) => {
        if(e.key == "ArrowRight")
          {
            proximo()
          }
        else if(e.key == "ArrowLeft")
          {
            anterior()
          }
        })
    </script>
  </body>
</html>
