<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://cdn.glitch.global/c84f6cdb-9f70-4fe9-b879-68945564ccd9/revolta.png?v=1725500954259"/>

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
        <link rel="stylesheet" href="/stylesheets/background.css"/>
    <title>FODEU!</title>
  </head>
  <body>
    <style>body{background-color: black ;} a{color: green;}</style>
     <a href="https://www.canva.com/design/DAGPPsuujHk/RNe-oWlytD7dbZ64mTNUNg/edit?utm_content=DAGPPsuujHk&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">A GUERRA DAS CISPLATINA</a><br>
     <a href="">MISSÃO ARTÍSTICA FRANCESA:</a><br>
     <a href="">MISSÃO ARTÍSTICA FRANCESA:</a><br>
     <a href="">REVOLUÇÃO PERNAMBUCANA</a><br>
     <a href="https://www.canva.com/design/DAGPPoTqN20/VPWGgiiCHf90dyZA36TeyQ/view?utm_content=DAGPPoTqN20&utm_campaign=designshare&utm_medium=link&utm_source=editor">REVOLTA DE MANOEL CONGO</a><br>
     <a href="https://www.canva.com/design/DAGPPlIXQBk/V1lfVZuycskffNUxUPpZsg/edit?utm_content=DAGPPlIXQBk&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">CABANAGEM E BALAIADA</a><br>
     <a href="">SABINADA</a><br>
     <a href=https://www.canva.com/design/DAGPPkKwwFM/kSohQol49NCAe03QaEMCdA/edit"">FARROUPILHA</a><br>
     <a href="">REVOLTA DOS MALÊS</a>
    
      
      
      
      
      
      
      
      
    
   
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>