<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://cdn.glitch.global/c84f6cdb-9f70-4fe9-b879-68945564ccd9/revolta.png?v=1725500954259"/>
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <link rel="stylesheet" href="/stylesheets/background.css"/>
    <title>REVOLTA DOS MALÊS - DEU CERTO!</title>
  </head>
  <body>
    <div class="menu"><br> 
      <a class="ligacoes" href="/" >INÍCIO</a>
      <a class="ligacoes" href="/contexto">CONTEXTO</a>
      <a class="ligacoes" href="/religiao">RELIGIÃO</a>
      <a class="ligacoes" href="/diferenca">DIFERENÇAS</a> 
      <a class="ligacoes" href="/resultado">RESULTADO</a>
      <a class="ligacoes" href="/hipoteses">SE DESSE CERTO</a>   
    </div>
    <div class="margin">
      <h1 class="titulo">SE A REVOLTA DESSE CERTO</h1>
      <div class="texto-imagem">
          <img class="imagem" src="https://cdn.glitch.global/c84f6cdb-9f70-4fe9-b879-68945564ccd9/12.webp?v=1725404446753"> 
        <div class="texto">
          
          <h3>Estabelecimento de um Governo Islâmico ou Africano em Salvado</h3>
          <p>Tinham a intenção de tomar o controle de Salvador, estabelecendo um governo que poderia ser baseado em princípios islâmicos. </p>

          <h3>Expansão da Revolta para Outras Regiões</h3>
          <p>Poderia ter inspirado outras rebeliões em diferentes partes do Brasil, especialmente nas áreas com grandes populações escravizadas.</p>

          <h3>Repressão Brutal e Reação Colonial</h3>
          <p>Inicial dos malês provavelmente teria levado a uma reação extremamente violenta por parte das autoridades coloniais e da elite branca.</p>
          
           <h3>Impacto na Estrutura Social e Racial do Brasil</h3>
          <p>Mudando drasticamente a dinâmica social e racial no Brasil. Os africanos e afrodescendentes poderiam ter conseguido mais poder e direitos.</p>
         
        </div>
        
      </div>
      
          <h3 class="texto">Mudanças nas Relações Internacionais</h3>
          <p class="texto">O Brasil poderia ter enfrentado isolamento ou reações internacionais, especialmente das potências europeias que ainda dependiam do comércio de escravos ou tinham interesse em manter a ordem colonial.</p>
  

          <h3 class="texto">Precedente Revolucionário na América Latina</h3>
          <p class="texto">Sucesso da revolta poderia ter servido de inspiração para outras colônias e países na América Latina, onde havia movimentos semelhantes de resistência à escravidão e ao colonialismo.</p>
    </div>
    
    <script>
        let anterior = () => {
          window.location = "resultado"
        }
      document.documentElement.addEventListener("keydown", (e) => {
        if(e.key == "ArrowLeft")
          {
            anterior()
          }
        })
    </script>
  </body>
</html>