
body {
  
  background-image: url("https://cdn.glitch.global/c84f6cdb-9f70-4fe9-b879-68945564ccd9/public%2Fimages%2Fbkmales.jpeg?v=1726008429633");
  background-repeat: no-repeat;
  background-size: cover;
}